<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	

    <!-- Import Datasource File -->
    <import resource="./config/DataSource.xml"/>
    
    <!-- Import hibernate hbm.xml File -->
    <import resource="./config/HibernateSessionFactory.xml"/>
    
    <!-- Import spring config inject File -->
    <import resource="./config/SpringdaoTrn.xml"/>
	
</beans>
